* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.page-body {
  font-family: 'PT Sans';
  height: 100%;
  font-weight: 400;
  color: $regular-text-color;
  text-transform: uppercase;
  background-color: $input-background;
}

h1,
h2,
h3 {
  color: $bold-text-black;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button,
input {
  -webkit-tap-highlight-color: transparent;
}

.main {
  max-width: 1200px;
  background-color: $white;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}
