$bold-text-black: #000;
$regular-text-color: #333;
$basic-blue: #81b3d2;
$hover-blue: #669ec0;
$down-blue: #5496bd;
$white: #fff;
$border-grey: #d6d6d6;
$basic-grey: #eeeeee;
$border-form-grey: #e5e5e5;
$input-background: #f2f2f2;
$radio-down: #d5d5d5;

$tablet-width: 709px;
$desktop-width: 900px;
